@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* 
  #F7F7F7
  #EEEEEE
  #393E46
  #929AAB */
* {
  box-sizing: border-box;
  margin: auto;
}

button {
  cursor: pointer;
}

header {
  position: relative;
  /* width: auto; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(238, 238, 230, 1);
  width: 100%;
  padding: 5px 30px;
  flex-wrap: wrap;
  align-items: center;
}

header picture {
  width: 70px;
  margin: 0;
}
header picture img {
  margin: 0;
  width: 70px;
  justify-content: center;
  /* min-width: 70px; */
  min-height: 40px;
  object-fit: cover;
}

.restaurant-list {
  text-align: center;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1 {
  border-bottom: #111 solid 1px;
  /* margin: 0; */
  padding: 15px 35px;
  width: max-content;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.background-drawer {
  background-color: rgba(51, 51, 51, 0.7);
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

.menuToggle {
  margin: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  background: none;
  border: 0;
}
.menuToggle.open {
  margin-left: 45%;
  /* position: fixed; */
}

.menuToggle .bars {
  font-size: 44px;
  color: #393e46;
}
.menuToggle .close {
  font-size: 44px;
  color: #393e46;
  display: none;
  transition: 0.8s;
}

.menuToggle.open .bars {
  display: none;
}
.menuToggle.open .close {
  display: block;
}

.navigation {
  width: 0;
  height: 500vh;
  margin: 0;
  padding: 0;
  left: -100px;
  top: 0;
  position: fixed;
  background-color: #393e46;
  transition: 1s;
  z-index: 1;
}
.navigation.open {
  transition: 1s;
  width: 45%;
  left: 0;
}

.navigation nav {
  margin-top: 100px;
  min-height: 200px;
}

.navigation nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navigation nav ul li {
  list-style: none;
  margin: 10px;
  width: 90%;
  min-width: 44px;
  min-height: 44px;
  text-align: center;
}
.navigation nav ul li a {
  border-radius: 5px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  display: block;
  min-width: 44px;
  min-height: 44px;
  background-color: black;
  font-family: "Nunito", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation nav ul li a.active,
.navigation nav ul li a:hover {
  color: #393e46;
  background: #eeeeee;
}

.jumbotron {
  width: 100%;
  height: 400px;
  overflow: hidden;
  /* background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; */
}
.jumbotron picture {
  width: 100%;
  height: 400px;
}
.jumbotron picture img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 400px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.restaurant-list {
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

article {
  background-color: #eeeeee;
  width: 100%;
}

article a {
  text-decoration: none;
  color: #111;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background: none;
  border: 0;
  padding: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  position: relative;
  text-align: center;
  color: white;
  height: min-content;
  width: 100%;
  margin: 0;
}

.card-header-caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 6px;
  background-color: rgba(57, 62, 70, 0.7);
}
.card-header img {
  width: 100%;
  border-radius: 5px 5px 0px 0;
}

.card-detail {
  padding: 8px 9px;
  text-align: left;
  height: max-content;
  margin: 0;
}

.card-detail h4 {
  font-size: 2.5vw;
  font-family: "Nunito", sans-serif;
}

.card-detail h2 {
  font-size: 3vw;
  font-family: "PT Sans", sans-serif;
}

.card-detail p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 2.3vw;
  font-family: "Nunito", sans-serif;
}

#maincontent h1 {
  /* font-size: 2vw; */
  width: 70%;
}

footer {
  background-color: #393e46;
  padding: 10px;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
}
